name: Hello Cowsay
on: [push]
jobs:
  cowsay:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Installing Cowsay
        run: npm install -g cowsay
      - name: Executing Cowsay
        run: cowsay Hello Platzi
